<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dingdaoyi.mapper.ModelPropertyMapper">
    <resultMap id="BaseResultMap" type="com.github.dingdaoyi.entity.ModelProperty">
        <!--@mbg.generated-->
        <!--@Table tb_model_property-->
        <id column="id" property="id"/>
        <result column="data_type" property="dataType"/>
        <result column="mark" property="mark"/>
        <result column="identifier" property="identifier"/>
        <result column="name" property="name"/>
        <result column="access_mode" property="accessMode"/>
        <result column="product_type_id" property="productTypeId"/>
        <result column="icon_id" property="iconId"/>
        <result column="custom" property="custom"/>
        <result column="bool0" property="bool0"/>
        <result column="bool1" property="bool1"/>
        <result column="length" property="length"/>
        <result column="param_type" property="paramType"/>
        <result column="unit" property="unit"/>
        <result column="unit_name" property="unitName"/>
        <result column="max" property="max"/>
        <result column="min" property="min"/>
        <result column="step" property="step"/>
        <result column="enum_map" property="enumMap"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="func_status" property="funcStatus"/>
        <result column="product_id" property="productId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        data_type,
        mark,
        identifier,
        "name",
        access_mode,
        product_type_id,
        icon_id,
        custom,
        bool0,
        bool1,
        "length",
        param_type,
        unit,
        unit_name,
        "max",
        "min",
        step,
        enum_map,
        func_status,
        product_id
    </sql>

<!--auto generated by MybatisCodeHelper on 2024-11-18-->
    <insert id="insertList">
        INSERT INTO tb_model_property(id,
                                      data_type,
                                      mark,
                                      identifier,
                                      "name",
                                      access_mode,
                                      product_type_id,
                                      icon_id,
                                      custom,
                                      bool0,
                                      bool1,
                                      "length",
                                      param_type,
                                      unit,
                                      unit_name,
                                      "max",
                                      "min",
                                      step,
                                      enum_map,
                                      func_status,
                                      product_id,
                                      parent_id)VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (#{element.id},
             #{element.dataType},
             #{element.mark},
             #{element.identifier},
             #{element.name},
             #{element.accessMode},
             #{element.productTypeId},
             #{element.iconId},
             #{element.custom},
             #{element.bool0},
             #{element.bool1},
             #{element.length},
             #{element.paramType},
             #{element.unit},
             #{element.unitName},
             #{element.max},
             #{element.min},
             #{element.step},
             #{element.enumMap,typeHandler=com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
             #{element.funcStatus},
             #{element.productId},
             #{element.parentId})
        </foreach>
    </insert>
</mapper>