@use 'element-plus/dist/index.css';
@use 'element-plus/theme-chalk/dark/css-vars.css';

:root {
  --el-color-primary: #167eff;
  --el-color-danger: #ff4400;

  --dw-bg: #f7f8fa;
  --dw-box-bg: #fff;

  --dw-dialog-title-bg: #292a2c;
  --dw-dialog-title-xbg: #4e5969;

  --dw-table-header-color: #292a2c;
  --dw-table-header-bg: #f2f3f5;
  --dw-table-column-bg: #1d2129;

  --dw-slider-color: #4e5969;
  --dw-slider-active-bg: #465d83;
  --dw-slider-hover-bg: #f3f3f5;

  --dw-border-color: #e5e6eb;

  --dw-hover-color: #f5f5f5;

  --dw-pmt-box-bg1: #f9fcff;
  --dw-pmt-box-bg2: #f4f7fc;
}
